name: Tests

on:
  push:
    paths-ignore:
      - '.github/workflows/**'
      - '**/*.md'
  pull_request:

jobs:
  test:
    name: Run on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'  # go.mod에서 요구하는 버전 자동 사용
          cache: true

      - name: Running Tests
        run: |
          go mod tidy
          make test
